body {
    font-family: $font-main;
    color: $dark;
    
}


header {
    color: $dark;
    
}

footer {
    color: $white;
    
   
}

h1,h2 {
    font-family: $font-main;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
}


