//collor

.bg-grey {
    background-color: $bg-grey;
}

.bg-green {
    background-color: $bg-green;
}

.bg-yellow {
    background-color: $bg-yellow;
}

.bg-white{
    background-color:$bgwhite;
}
.display-green {
    color: $bg-green;
}



//Size
.display-bt {
    font-size: 10px;
    margin-bottom: 0;
}

//display card

.display-card {
    text-transform: uppercase;
    font-size: 15px;

}


/******** Size special **********/
.display-1 {
    font-size: 0.7125rem;
    font-family: $font-banner;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;

    @media (min-width: 1024px) {
        font-size: 1.5625rem;
        font-family: $font-banner;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.display-2 {
    font-size: 1rem;
    font-family: $font-banner;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;

    @media (min-width: 1024px) {
        font-size: 2.5rem;
        font-family: $font-banner;
        font-weight: bold;
        text-transform: uppercase;
    }
}


.display-3 {
    font-size: 0.7125rem;
    font-family: $font-banner;
    font-style: italic;
    margin-bottom: 0.5rem;

    @media (min-width: 1024px) {
        font-size: 1.5625rem;
        font-family: $font-banner;
        font-weight: bold;
        text-transform: uppercase;
    }
}


/* Font Class  */

.boldContent {
    font-size: 22px;
    font-weight: bold;
}


/* span */

.span-green {
    color: $bg-green;
}

/* utils pour les h dans le main  */

h2 {
    margin-left: 10px;
    margin-bottom: 8px;

}

h3{
    font-size: 1rem;
    @media (min-width: 1024px) {
        font-size: 1.75rem;
    }
}

/*Font size*/

/*Content Main */
p{
    font-size: 1.20rem;
}

