<div class="banner px-5 py-5" >



<div class="container  ">

    <div class='mb-5 col-5 insert'>
        <p class="display-1">le meilleurs pour eux 💛</p>
        <h1 class="display-2">La Nîmes’alerie</h1>
        <p class="display-3">Votre animalerie en ligne</p>
        <p class="btn btn-banner">Découvrez nos produits phare</p>
    </div>

    <div class="row  justify-content-between  " >

        <div class="col-3 CardB2 card1 ">
            <div class="row" >
                <div class="col-12 container-flex my-2 container-image1 "  >
                    <img class="me-2" src="{{ asset('build/img/userprofile/user.png') }}" alt="Photo de l'utilisateur">
                    <p> Bonjour <span class="span-green">cliquez ici pour vous connecter</span> </p>
                </div>
                <div class="col-12"  >
                    <div class="row justify-content-around ">
                        <div class="col-6 text-center flex-row  cardUtils" >
                            <a class="money"></a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="btn btn-warning col-12" > Accéder a votre compte</a>

        </div>

        <div class="col-3 CardB2 card3 mx-2  ">
            <p> <span class="display-green" > Une large gamme</span> de produit ne passez pas à côté !</p>
            <div class="cardB-img" >
                <img src="{{ asset('build/img/img/chien.png') }}" alt="Picture of young dog ">
            </div>
            <a>En savoir plus</a>
        </div >

        <div class="col-3 CardB2 card3 ">
            <p>La Nîmes'alerie envoie votre compagnon dans <span class="display-green" >l'espace ! </span></p>

            <div class="cardB-img" >
            <img src="{{ asset('build/img/img/catInSpace.png') }}" alt="Picture of cat in space ">
            </div>

            <a>En savoir plus</a>
        </div>

    </div>


</div>

</div>



