
<div class="banner" >

    <div>
        <p class="display-1">le meilleurs pour eux 💛</p>
        <h1 class="display-2">La Nîmes’alerie</h1>
        <p class="display-3">Votre animalerie en ligne</p>
        <p class="btn btn-banner">Découvrez nos produits phare</p>
    </div>

<div class="container ">

    <div class="row justify-content-md-center">
        <div class="col-lg-4 CardB ">
            <div class="container-flex">
                <img src="img/img/user.png" alt="Photo de l'utilisateur">
                <p> Bonjour <span class="span-green" > Bruno</span> <br><span> Client depuis 2022</span></p>
            </div>
            <!-- Utilis Card-->
            <div class=" mx-auto container ">
                <div class="row align-items-center  ">
                    <div class="col-6 text-center">
                        <a class="money " href=""></a>
                        <p>Commandes</p>
                    </div>
                    <div class="col-6  text-center">
                        <a class="money " href=""></a>
                        <p>Offre Flash</p>
                    </div>

                </div>

            </div>
            <!--Button-Connexion-->
            <div class="btn btn-yellow  mx-auto">
                <div>
                    <p>Bienvenue</p>
                    <p class="display-bt">Accéder a votre compte</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 CardB mx-5 ">
            <p class="boldContent"> -40 % sur une large gamme de produits !</p>
            <img src="{{ asset('build/img/img/chien.png') }}" alt="Photo d'un petit chien. ">
            <a href="">Voir les offres </a>
        </div>

        <div class="col-lg-4 CardB ">
            <p class="boldContent"> La Nîmes'alerie envoie votre compagnon dans l'espace !</p>
            <img src="{{ asset('build/img/img/catInSpace.png') }}" alt="Photo d'un chat dans l'espace.">
            <a href="">En savoir plus</a>
        </div>

    </div>
</div>

</div>