<nav class="navbar navbar-expand-lg navbar-dark bg-green nav-2  ">
    <div class="container-fluid ">

        <div class="navbar-brand nav-menu" >
            <a class="menu mx-2 " data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            </a>

        </div>

        <div class="navbar-brand nav-animals" >
            <a class="cats mx-5 " href=""></a>
            <a class="dogs mx-5" href=""></a>
            <a class="rodents mx-5" href=""></a>
            <a class="fishes mx-5" href=""></a>
            <!--Icon space-->
            <a class="nav-space mx-5" href=""> </a>
        </div>
        <div class="navbar-brand nav-utils ">
            <a  href="" class="favorite mx-2"  ></a>
            <a  href=""  class="basket mx-2"></a>
        </div>

    </div>
</nav>


{% include 'Front/partials/offCanvas.html.twig' %}

