<nav class="navbar navbar-expand-lg navbar-dark bg-green nav-2">
    <div class="container-fluid">

        <div class="navbar-brand allCategories" >
            <a  href="" class="categories"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasnav1" aria-controls="offcanvasnav1"  ></a>
        </div>

        <div class="navbar-brand nav-animals" >
            <a class="cats mx-5 " href=""></a>
            <a class="dogs mx-5" href=""></a>
            <a class="rodents mx-5" href=""></a>
            <a class="fishes mx-5" href=""></a>
            <!--Icon space-->
            <a class="nav-space mx-5" href=""> </a>
        </div>
        <div class="navbar-brand nav-utils ">
            <a  href="" class="favorite"  ></a>
            <a  href=""  class="favorite"></a>
        </div>

    </div>
</nav>



