<div class="cardClients">

    <!-- Opinion clients-->
    <!-- chnager la poilice et la taille de la poilice -->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nunc sit egestas placerat
        interdum. Pellentesque massa nam proin volutpat bibendum leo, nisl, turpis. Id imperdiet
        eget eu purus, nunc. Euismod gravida eget amet ut tellus nisi. Venenatis posuere fermentum
        suspendisse parturient. Molestie viverra sed pretium cum pellentesque lacus, nec non aenean.
        Sociis id viverra sit dui egestas.</p>
    <div class="container-card">
        <div class="container-flex">
            <img src="{{ asset('build/img/userprofile/user.png') }}" alt="">
            <img src="{{ asset('build/img/svg/ligne.png') }}">
            <p>Louis Vuitton</p>
        </div>
        <img class="stars" src="{{ asset('build/img/stars.jpg') }}" alt="">
    </div>
</div>