<div class="card-comment">
    <div class="title-game">
        <a>
           {{ product.review.user. }}
        </a>
    </div>
    <p>

    </p>
    <div class="comment-footer">


    </div>
</div>
