<div class="container mt-5">
    <div class="row  justify-content-between ">
        <div class="col-lg-3 col-md-12 card-info  "    >
         <h4>BESOIN D'AIDE ?
         </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam, libero magnam hic ipsam iste quae quis possimus saepe nam, omnis esse, veniam quo excepturi beatae perspiciatis. Ipsa, mollitia !</p>
        </div>

        <div class="col-lg-3 col-md-12 card-info " >
         <h4   >DES QUESTIONS ? </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam, libero magnam hic ipsam iste quae quis possimus saepe nam, omnis esse, veniam quo excepturi beatae perspiciatis. Ipsa, mollitia !</p>
        </div>

        <div class="col-lg-3 col-md-12 card-info " >
            <h4  >L’ESPACE !</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam, libero magnam hic ipsam iste quae quis possimus saepe nam, omnis esse, veniam quo excepturi beatae perspiciatis. Ipsa, mollitia !</p>
        </div>

    </div>
</div>