<div class="container">
    <div class="row" >
        <a class="btn btn-primary col-6"  data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" > Descritpion du produit </a>
        <a class="btn btn-primary col-6"> Avis </a>
        <div class="collapse mt-3  " id="collapseExample">
            <div class="card card-body">
                {{ product.description }}
            </div>
        </div>
    </div>