{% extends 'Front/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="container card-insert " >
        <h2>La Nîmes'alerie envoie votre compagnon dans l'espace !</h2>
        <hr>
        <div class="row" >
           <div class="col-6  container-img  " >
               <img src="{{ asset('build/img/catSpace.jpg') }}" alt="">
           </div>
            <div class="col-6 insert-content " >
                <h3>étape une</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s.</p>
            </div>
            <div class="col-6 insert-content" >
                <h3>étape deux</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="col-6  container-img " >
                <img src="{{ asset('build/img/catSpace2.jpg') }}" alt="">
            </div>
        </div>
    </div>


{% endblock %}
