

//Font//
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&family=Roboto:wght@400;700&display=swap'); 

$font-main: "Roboto", "sans-sherif";
$font-banner: "Lato", "sans-sherif";

//color//

$dark:#000000;
$white:#ffffff;
$bg-yellow:#FECB04;
$bg-grey: #D3D3D3;
$bg-green:#46b8a3;
$bgwhite: #f6f6f6;

// PADDING
$padding : .8rem;
$padding-xxs : $padding * 0.125;
$padding-xs : $padding * 0.25;
$padding-s : $padding * 0.5;
$padding-m : $padding;
$padding-l : $padding * 2;
$padding-xl : $padding * 3;
$padding-xxl : $padding * 4;




