// Logo nav BAR 

.logo {
    width: 90px;

    h1 {
        display: none;
    }

    img {
        width: 100%;
        
    }



}

//Logo FOOTER 


.logo {
   

    img {
        width: 100%;
        
    }



}