{% extends 'back/base.html.twig' %}

{% block title %}Gender index{% endblock %}

{% block body %}
    <h1>Gender index</h1>

    <table class="table table-dark table-hover table-striped mt-3">
        <thead>
            <tr>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gender in genders %}
            <tr>
                <td>{{ gender.label }}</td>
                <td>
                    <a href="{{ path('app_back_gender_show', {'id': gender.id}) }}">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                    <a href="{{ path('app_back_gender_edit', {'id': gender.id}) }}">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_gender_new') }}">Create new</a>
{% endblock %}
