{% extends 'back/base.html.twig' %}

{% block title %}Gender{% endblock %}

{% block body %}
    <h1>Gender</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Label</th>
                <td>{{ gender.label }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_gender_index') }}">back to list</a>

    <a href="{{ path('app_back_gender_edit', {'id': gender.id}) }}">edit</a>

    {{ include('back/gender/_delete_form.html.twig') }}
{% endblock %}
