.banner {
    background-image: url("../../../img/wallpaper/banner.png");
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;

      .insert{
          background-color: rgba(255, 255, 255, 0.2) ;
          padding: 0.8rem;
          display: inline-block;
      }

    @media (min-width: 1024px) {
        background-image: url("../../../img/wallpaper/banner.png");
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;

        .insert{
            background-color: rgba(255, 255, 255, 0.2) ;

            padding: 1rem;
        }
    }

    //// encard presentation de l'animalerie
    //>div {
    //    width: 55%;
    //    height: 136px;
    //    padding: 28px;
    //    background-color: rgba($color: #ffffff, $alpha: 0.2);
    //    position: absolute;
    //    left: 5%;
    //    top: 5%;
    //
    //    p,
    //    h1 {
    //        margin-bottom: 0;
    //    }
    //
    //    @media (min-width: 1024px) {
    //
    //        width: 450px;
    //        height: 233px;
    //        padding: 28px;
    //        background-color: rgba($color: #ffffff, $alpha: 0.2);
    //        position: absolute;
    //        :last-child{
    //            line-height: 1rem;
    //        }
    //        p,
    //        h1 {
    //            margin-bottom: 0;
    //            line-height: 3rem;
    //
    //        }
    //    }
    //}


}




