// Logo nav BAR 

.logo {
    height: 70px;
    margin-left: 1rem;

    h1 {
        display: none;
    }

    img {
       height: 100%;
        
    }



}

//Logo FOOTER 


.logo {
   

    img {
        width: 100%;
        
    }



}