.container{
  text-decoration: none;
  &.detail-product{
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    background-color: #f6f6f6;
    height: 400px;
    border-radius: 0.25rem;
    .container-images{

      .container-image-p{



      }
      .container-image-g{
        >img{
          width: 80%;
          height: 80%;
        }
      }
    }
    .text-container{
      h3{
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: $bg-green;
      }
      .price{
        text-transform: uppercase;
      }
    }
  }

}