/*SECTION CARD BANNNER*/


/* SECTION INFO*/


#info {


  

   >div {
      margin-top: 0px;
      margin-left: auto;
      margin-right: auto;

   }

   :last-child {
      margin-bottom: 0%;
   }
      @media (min-width: 1024px) {
         display: flex;
         flex-direction: row;
     
         :first-child{
            margin-left: 10px;
         }

>div{
   margin-right: 10px ;
}

      
      }

}



/*  Section Products    */


#products{
    h2{

      position: relative;
      overflow: hidden;
      margin-bottom: 0.5rem;
      
  
span{
   color: $bg-green;
}
      &:after {
          display: inline-block;
          content: "";
          height: 4px;
          border: 50px;
          background: $bg-green;
          position: absolute;
          width: 100%;
          top: 50%;
          margin-top: -2px;
          margin-left: 10px;
      }
  }


}



/*Page produit*/
#product{

   .descritption{
      h2{
         color: $bg-green;
      }
   } 
   
}


// div:first-child {
//    align-items: center;

//    // User Avatar
//    :first-child {

//       display: flex;
//       flex-direction: row;
//       align-items: center;

//       img {
//          margin-right: 0.8rem;
//          width: 71px;
//          height: 71px;
//       }

//    }
// }

//    // Interactive money and flash 
//    :nth-child(2) {
//       display: flex;
//       flex-direction: row;
//       align-items: center;

//       :last-child {
//          margin-left: 10px;
//          margin-right: 0px;
//       }

//       //interactive 
//       >div {
//          display: flex;
//          flex-direction: column;
//          align-items: center;
//          margin-right: 0.5rem;
//       }
//    }
//    // Button 
//    :last-child {
//       display: flex;
//       flex-direction: column;
//    }
// }
// }


