{% extends 'front/base.html.twig' %}

{% block body %}

    <div class="container user-account my-5 py-2">

        <p class="text-end">La Nîmes'alerie</p>
        <h2 class="" > Mon adresse </h2>
        <a class="btn btn-primary" href="{{ path('app_front_user') }} "  >Retour</a>

    </div>

{% endblock %}
